<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
  </configSections>
  <appSettings>
    <add key="EmailFrom" value="sodeco@sodeco-gestion.com"/>
		<add key="SmtpClient" value=""/>
		<add key="SmtpPort" value=""/>
    <add key="PropertyType" value="Apartment furnished;Apartments;Building;Chalet;Commercial Premises;Grounds;Houses;Offices;Others;Studio;Villas"/>
    <add key="PriceRange" value="1600;100000;120000;125000;138000;140000;150000;200000;225000;250000;300000;330000;375000;400000;435000;500000;650000;850000;1300000;9000001;90000001"/>
    <add key="BedroomsNbr" value="1;2;3;4;5;6;7;8;9"/>
    <add key="DaysCount" value="6"/> 
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="ASPHTML5DBConnectionString" connectionString="User ID=sa;Password=P@ssw0rd;Initial Catalog=ASPHTML5DB;Data Source=.; Max Pool Size=5000;Connect Timeout=60;MultipleActiveResultSets=True" />
    <add name="ASPHTML5DBEntities" connectionString="metadata=res://*/Sodeco_Gestion.csdl|res://*/Sodeco_Gestion.ssdl|res://*/Sodeco_Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INATCO3-PC\SQL2012;initial catalog=ASPHTML5DB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASPHTML5_DBEntities" connectionString="metadata=res://*/ASPHTML5Dm.csdl|res://*/ASPHTML5Dm.ssdl|res://*/ASPHTML5Dm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INATCO3-PC\SQL2012;initial catalog=ASPHTML5DB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!--<sessionState timeout="120" />-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" batch="false"></compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
		-->
    <customErrors mode="Off" defaultRedirect="/index" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="/index" />
      <error statusCode="404" redirect="/index" />
    </customErrors>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="104576" />
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" validateRequest="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableSessionState="true">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <sessionState mode="InProc" cookieless="false" timeout="120" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="107741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <!--<add value="default.aspx"/>-->
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
  </system.webServer>
  <botDetect>
    <captchaSound enabled="false" />
    <captchaImage>
      <helpLink enabled="true" mode="image" />
    </captchaImage>
  </botDetect>
</configuration>