
	h1{
		font-size:180%;
		font-weight:normal;
		margin:0;
		padding:0 20px;
		}
	h2{
		font-size:160%;
		font-weight:normal;
		}	
	h3{
		font-size:140%;
		font-weight:normal;
		}	
	img{border:none;}
	pre{
		display:block;
		font:12px "Courier New", Courier, monospace;
		padding:10px;
		border:1px solid #bae2f0;
		background:#e3f4f9;	
		margin:.5em 0;
		width:674px;
		}	
			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
	#container{	
		margin:0 auto;
		position:relative;
		text-align:left;
		width:696px;
		background:#fff;		
		margin-bottom:2em;
		}	
	#header{
		height:80px;
		line-height:80px;
		background:#5DC9E1;
		color:#fff;
		}				
	#content{
		position:relative;
		}			

/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:250px;
		height:250px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:71px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:696px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background:url(../images/btn_prev.gif) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(../images/btn_next.gif) no-repeat 0 0;	
		}	
		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */


/* collapsible section begin */
/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/
#wrapper {
	/*width: 305px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;*/
	}
/*
.accordionButton {	
	width: 290px;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
/*
	cursor: pointer;
	}*/
	
	.accordionButton{
		background: url(../images/arrow_down.png) !important;
	background-repeat:no-repeat !important;
	background-position:right !important;
	background-color:#bd1e2d !important;
/*background:url(../images/plus.png);
background-repeat:no-repeat;
	width: 305px;*/
	/*float: left;*/
	//_float: none;  /* Float works in all browsers but IE6 */

	//cursor: pointer;
}
.accordionButton a{/*
display:block;
text-decoration:none;
color:#ffffff;
background-color:#008fc6;
line-height:30px;
padding:0px 10px 0px 10px;
font-size:16px;
font-weight:normal;	
}
.accordionButton a:hover{
text-decoration:none;
color:#4d4d4d;
*/
}
	
.accordionContent {	/*
	width: 305px;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */

	}
	
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

	/*.on {
background: #990000;
	}*/
	
	.on{
		background: url(../images/arrow_up.png) !important;
	background-repeat:no-repeat !important;
	background-position:right !important;
	background-color:#bd1e2d !important;
}
.on a{
display:block;
text-decoration:none;
color:#4d4d4d;
line-height:30px;
padding:0px 10px 0px 0px;
font-size:16px;
font-weight:normal;	
background:none !important;
}
.on a:hover{
text-decoration:none;
color:#4d4d4d;
}
	
.over {
	/*background: #CCCCCC;*/
	}
/* collapsible section end */
